meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Entendiendo mi Mundo
meta(meta name="description" content="Estimados aprendices, este componente busca que cada uno de ustedes tome conciencia de la forma como estamos habitando el planeta y los consiguientes impactos que estamos generando como especie humana. El planeta está atravesando una grave problemática ambiental, que compromete las posibilidades de vida de las generaciones futuras, resultado de una sociedad consumista, sin conciencia del impacto de las relaciones ser humano-planeta y seres humanos entre sí. Es así como en septiembre de 2015, más de 150 jefes de Estado y de Gobierno se reunieron en la Cumbre del Desarrollo Sostenible en Nueva York (EEUU) en la que aprobaron lo que se conocen como la Agenda 2030.  Esta agenda contiene los Objetivos de Desarrollo Sostenible (ODS), 17 enunciados de aplicación universal que, desde el 1 de enero de 2016, dirigen los esfuerzos de casi  todo el mundo con el fin de lograr un futuro sostenible con horizonte en el año 2030.  ")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")