h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Objetivos de Desarrollo Sostenible', 'main.html#page/Objetivos_de_Desarrollo_Sostenible/')
                    +navTemaItem('2', 'Triple Bottom Line', 'main.html#page/Triple_Bottom_Line/')
                    +navTemaItem('3', 'Ejemplos de marcas sostenibles en el mercado y que de alguna manera son competitivas', 'main.html#page/Ejemplos_de_marcas_sostenibles_en_el_mercado_y_que_de_alguna_manera_son_competitivas/')