h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 240201526-03. Promover el uso racional de los recursos naturales a partir de criterios de sostenibilidad y sustentabilidad ética y normatividad vigente.