include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Cayetano, I. 10 Enero de 2019. La sostenibilidad se consolida en la gran feria de la moda española. Ethic. Recuperado 10 octubre de 2020.", "https://ethic.es/2019/01/sostenibilidad-feria-moda-momad/")
        +referenciaItem("García, M. J. (2015). La cuenta del Triple resultado o triple bottom line. Revista de Contabilidad y Dirección. Vol. 20 pp 65-77.")
        +referenciaItem("Garcidueñas, P. 11 de agosto de 2015. ¿Qué es un proyecto triple bottom line y cómo lograrlo?. Expok comunicación de sustentabilidad. Recuperado 10 de octubre de 2020.", "https://www.expoknews.com/que-es-un-proyecto-triple-bottom-line-y-como-lograrlo/#:~:text=Try%20watching%20this%20video%20on,%3A%20econ%C3%B3mico%2C%20ambiental%20y%20social")
        +referenciaItem("Gómez, C. (2017). UNESCO. III El desarrollo Sostenible: conceptos básicos, alcance y criterios para su evaluación. Recuperado el 10 Octubre de 2020.", "http://www.unesco.org/new/fileadmin/MULTIMEDIA/FIELD/Havana/pdf/Cap3.pdf")
        +referenciaItem("Gonzalez, N. (s.f.) Una guía para crear marcas éticas. Magenta Branding and planificacion. Recuperado el 10 octubre de 2020.", "https://magentaig.com/guia-para-crear-marcas-eticas/")
        +referenciaItem("Innuba, (s.f.), Para qué - Innovación Social Trascendente. [Vídeo].", "https://www.youtube.com/watch?v=p2UwWV8rgqQ&feature=emb_logo")
        +referenciaItem("Kenton, W. 27 de Julio de 2020. Triple resultado final (TBL). Investopedia. Recuperado 31 octubre de 2020.", "https://www.investopedia.com/terms/t/triple-bottom-line.asp")
        +referenciaItem("Naciones Unidas (s.f.) Objetivos del Desarrollo Sostenible. Recuperado 10 octubre de 2020.", "https://www.un.org/sustainabledevelopment/es/objetivos-de-desarrollo-sostenible/")
        +referenciaItem("Pacto Mundial de Naciones Unidas (2000). Una llamada a la acción para empresas sostenibles. Recuperado el 9 de noviembre de 2020, desde", "https://www.pactomundial.org/wp-content/uploads/2017/11/Flyer-New-Estrategy-GC_2018_.pdf. ")
        +referenciaItem("Programa de Naciones Unidas para el Desarrollo (s.f.). Objetivos para el Desarrollo Sostenible. Recuperado el 10 octubre de 2020.", "https://www.undp.org/content/undp/es/home/sustainable-development-goals.htm.")
        +referenciaItem("Zamarriego, L. 21 de junio de 2019. La rebelión de las marcas. Ethic. Recuperado el 10 de Octubre de 2020.", "https://ethic.es/2019/06/la-rebelion-de-las-marcas/")
  
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            